{{ define "main" }}
<main>
    <div class="homepage">
        <div class="row">
            <div class="col-sm-12">
                <h1>
                    <span class="minor_line">Technical Notes</span>
                    
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 blurb">
                <p>
                    <!--About me content-->
                </p>
            </div>
        </div>

        
        <div class="row" id="python">
            <div class="col-sm-12">
                <h3 class="category_header">Python</h3>
            </div>
        </div>


        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header">Basics</h4>
                    <div class="card-body">
                        <ul>
                            {{ range (where .Pages "File.Dir" "in" "/python/basics/").ByTitle }}
                                {{ if ne .Title "Template" }}
                                <li>
                                    <a href="{{.Permalink}}">{{.Title}}</a>
                                </li>
                                {{ end }}    
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header">Pandas</h4>
                    <div class="card-body">
                        <ul>
                            {{ range (where .Pages "File.Dir" "in" "/python/Pandas/").ByTitle }}
                                {{ if ne .Title "Template" }}
                                <li>
                                    <a href="{{.Permalink}}">{{.Title}}</a>
                                </li>
                                {{ end }}    
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header">Plots</h4>
                    <div class="card-body">
                        <ul>
                            {{ range (where .Pages "File.Dir" "in" "/python/Plots/").ByTitle }}
                                {{ if ne .Title "Template" }}
                                <li>
                                    <a href="{{.Permalink}}">{{.Title}}</a>
                                </li>
                                {{ end }}    
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>

</main>
{{ end }}